body {
    display: flex;
    flex-direction: column;
    margin: auto;
    border: 2px solid red;
    min-height: 100vh;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 28px;
    font-size: 14px;
    color: rgb(198, 198, 198);
}

header {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
}

footer {
    display: flex;
    background-color: #1f2937;
    align-items: center;
    justify-content: center;
    color: white;
    letter-spacing: 1px;
    padding: 15px;
    flex: 1;
}

h1 {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    margin: auto;
    color: white;
    font-size: 18px;
}

h2 {
    display: flex;
    justify-content: flex-start;
    font-size: 35px;
    max-height: 50px;
}

h3 {
    display: flex;
    justify-content: center;
    margin: 10px;
    font-size: 25px;
    font-weight: bolder;
}

nav {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-left: 33%;
    flex: 1;
}

.logo_wrapper {
    display: flex;
    width: 575px;
}

section#upper_header_level {
    display: flex;
    flex-direction: row;
}

section#lower_header_level {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 25px;
    padding: 10px;
}


.lower_header_left_side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    max-width: 350px;
    flex-basis: 40%;
}

.lower_header_right_side {
    display: flex;
    flex-direction: row;
}

button {
    color: white;
    background-color: #3882F6;
    border-radius: 5px;
    margin: 4px 2px;
    padding: 5px;
    font-weight: bold;
    font-size: 12px;
    width: 75px;
}

button#header_button {
    border: none;
}  

.image_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

figcaption {
    display: flex;
    justify-content: center;
    color: rgb(74, 74, 74);
    font-weight: bold;
    text-align: center;
}

section#section_one {
    padding: 25px;
}

section#section_two {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #E5E7EB;
}

p#quote_full {
    display: flex;
    font-size: 25px;
    margin: auto;
}

p#quote_author {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 20px;
    margin: 0px;
    flex: 1;
}

.quote_wrapper {
    display: flex;
    flex-direction: column;
    max-width: 550px;
    margin: 55px;
}

section#section_three {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.sign_up_wrapper {
    display: flex;
    flex-direction: row;
    border-radius: 12px;
    padding: 35px;
    margin: 25px;
    width: 750px;
    height: 75px;
    align-items: center;
    justify-content: flex-start;
    background-color: #3882F6;
}

.sign_up_info {
    display: flex;
    flex-direction: column;
    padding: 25px;
    width: 550px;
    align-items: flex-start;
    color: white;
}

button#section_three_button {
    border-color: white;
}

h4 {
    display: flex;
    margin: 0px;
    font-size: 20px;
}

p#sign_up_details {
    display: flex;
    margin: 0px;
    color: rgb(230, 229, 229);
    font-size: 15px;
}